/*
>>> Reset default browser CSS / Eric Meyer:
http://meyerweb.com/eric/tools/css/reset/index.html
===================================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global
===================================================*/
*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	background: #f0ab00;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.8;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
	font-weight: 700;
}

a{
	text-decoration: none;
	color: #032843;
}

a:hover{
	color: #0765a9;
}

p{
	margin-bottom: 1.5em;
}

/* Template */
#wrapper{
	width: 100%;
	margin: 0 auto;
}

#main{
	background: #e7e7e7;
	padding-top: 10em;
}

.container{
	width: 85%;
	margin: 0 auto;
	padding: 0 1.5em;
}

section{
	padding: 4em 0;	
}

section h1{
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

 section.kolor h1, section.kolor p{
	color: #fff;
}

section p:last-child{
	margin-bottom: 0;
}

section.kolor{
	background: #0d5386;
}

/* Header */
header{
	width: 100%;
	height: 10em;
	background: #ecad00;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}	

header #logo{
	display: inline-block;
	height: 160px;
	line-height: 160px;
	float: left;
	font-size: 4em;
	font-weight: 600;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
header nav{
	display: inline-block;
	float: right;
}

header nav a{
	line-height: 160px;
	margin-left: 1.5em;
	color: #fff;
	font-weight: 600;
	font-size: 1.8em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav a:hover{
	color: #e2e1de;
}

header.shrink{
	height: 80px;
}

header.shrink #logo{
	line-height: 80px;
	font-size: 2.5em;
}

header.shrink nav a{
	line-height: 80px;
}

/* Footer */
.footBar{
	padding: 1em 0;
}

.clearfix:after {
visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
}




